.btn {
    background: #eee;
    color: #666;
    border: 0;

    &.btn-outline {
        background: transparent;
        border: 1.5px solid #ddd;
        font-weight: bold;
    }

    &.btn-white { 
        background: white; 
        border: 0; 

        &:hover {
            background: #fafafa;
            color: inherit;
        }
    }

    &.btn-transparent { background: transparent; }

    &.btn-icon {
        i { color: $color-primary; }
        &.btn-icon-left i { margin-right: 5px; }
        &.btn-icon-right i { margin-left: 5px; }
    }

    &:hover {
        color: inherit;
    }
}