footer {
   margin-top: 80px;
   background: $color-primary;
   padding: 80px 0;
   color: white;

   .menu {
      @include my-flex(row, flex-start, space-between);

      .menu-items {
         a {
            color: white;
         }
      }
   }

   .subscribe {
      form {
         border: 1px solid #ccc;
         border-radius: 5px;
         padding: 10px 12px;
         @include my-flex(row, center, space-between);

         input, button {
            border: 0;
            background: none;
            color: white;
            outline: none;
         }

         input {
            flex: 1;

            &::placeholder {
               color: #ccc;
            }
         }

         button {
            @include my-flex(row, center, center);
         }
      }

      p {
         color: #ccc;
      }
   }

   .socmed {
      padding: 0 40px;
      a {
         color: white;
         font-size: 0.5em;
      }
   }

   section {
      @media screen and (max-width: 768px) {
            margin-bottom: 15px;
      }
   }
}