<div class="pricetag">
        <div class="container p-2 col-sm-12 d-flex justify-content-between align-items-center">
                <div class="">
                    <a class="text-dark" href="#"><b>Educational Package A</b></a>
                    <p><i class="fa fa-star text-danger"></i><b>4.7</b> (234) </p>
                    
                </div>
                <ul class="d-flex justify-content-between p-2 align-items-center">
                    <li>
                            <p class="text-orange"><b>Rp.130.0000</b>per person</p>
                    </li>
                    <li>
                        <a href="#" class="col-sm-12 btn btn-orange text-light btn-icon btn-icon-left d-flex align-items-center">
                            <span>Book Tour</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>