<footer>
  <div class="container">
    <div class="row">
      <section class="logo col-lg-2 text-size-big-2 font-weight-bold">
        <a href="#">Edukatrip</a>
      </section>
      <section class="col-lg-4 menu">
        <div class="menu-items">
          <div class="row">
            <div class="col-lg-4 d-flex flex-column">
              <a href="#" class="item">Home</a>
              <a href="#" class="item">Discovery</a>
              <a href="#" class="item">Photos</a>
              <a href="#" class="item">Contact</a>
            </div>
            <div class="col-lg-4 d-flex flex-column">
              <a href="#" class="item">About</a>
              <a href="#" class="item">Helps</a>
              <a href="#" class="item">Terms</a>
              <a href="#" class="item">Guidelines</a>
            </div>
            <div class="col-lg-4 d-flex flex-column">
              <a href="#" class="item">Testimonials</a>
              <a href="#" class="item">Advertise</a>
              <a href="#" class="item">Integrations</a>
              <a href="#" class="item">Careers</a>
            </div>
          </div>
        </div>
      </section>
      <section class="col-lg-4 subscribe">
        <form action="#">
          <input type="email" placeholder="Email">
          <button type="submit">
            <i class="material-icons">near_me</i>
          </button>
        </form>
        <p class="mt-2">Stay in touch with us for the freshest products!</p>
      </section>
      <section class="col-xl-2 socmed">
        <div class="row justify-content-around">
          <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
          <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
          <a href="#"><i class="fa fa-globe fa-2x"></i></a>
        </div>
      </section>
    </div>
  </div>
</footer>