<nav>
    <div class="container d-flex justify-content-between align-items-center">
        <div class="navbar-brand">
            <a href="#">Edukatrip</a>
        </div>
        <ul class="d-flex justify-content-between align-items-center">
            <li class="mr-2"><a href="#" class="btn btn-outline">Become a Host</a></li>
            <li>
                <a href="#" class="btn btn-white btn-icon btn-icon-left d-flex align-items-center">
                    <i class="material-icons">local_activity</i>
                    <span>My Trip</span>
                </a>
            </li>
            <li><a href="#" class="btn btn-white btn-icon d-flex align-items-center"><i class="material-icons">notifications</i></a></li>
        </ul>
    </div>
</nav>