<div class="pricetag">
<div class="container col-sm-12 d-flex justify-content-between align-items-center">
        <div class="">
            <a class="text-dark" href="#"><b>Total Cart</b></a><br>
            <p class="text-orange"><b>Rp.130.0000</b></p>
        </div>
        <ul class="d-flex justify-content-between p-2 align-items-center">
            <li>
                        <a href="#" class="col-sm-5 btn btn-white btn-icon btn-icon-left d-flex align-items-center">
                            <i class="material-icons">save</i>
                            <span>Save for Later</span>
                        </a>
            </li>
            <li>
                <a href="#" class="col-sm-5 btn btn-orange text-light btn-icon btn-icon-left d-flex align-items-center">
                    <span>Create Tour</span>
                </a>
            </li>
        </ul>
    </div>
</div>